/* General styles for the range input */
input[type='range'] {
  width: 80%; /* Adjust the width as needed */
  cursor: pointer; /* Change the cursor to a pointer on hover */
  appearance: none; /* Remove the default appearance */
  outline: none; /* Remove the focus outline */
  border-radius: 12px;
}

/* Styles for the track */
input[type='range']::-webkit-slider-runnable-track {
  height: 4px; /* Adjust the track height */
  background: #ccc; /* Change the track color */
}
input[type='range']::-moz-range-track {
  height: 4px;
  background: #ccc;
}

/* Styles for the thumb */
input[type='range']::-webkit-slider-thumb {
  width: 10px; /* Adjust the thumb width */
  height: 10px; /* Adjust the thumb height */
  background: white; /* Change the thumb color */
  border-radius: 50%; /* Make the thumb a circle */
  appearance: none; /* Remove the default appearance */
  margin-top: -2px; /* Vertically center the thumb */
}
input[type='range']::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  appearance: none;
}

/* Styles for the focus state */
input[type='range']:focus {
  outline: none;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #ddd;
}
input[type='range']:focus::-moz-range-track {
  background: #ddd;
}

.controlIcon {
  padding: 10px;
  fill: #cccccc;
}

.skipForwardIcon {
  width: 16px;
  margin-bottom: 3px;
}

.skipBackIcon {
  width: 16px;
  margin-bottom: 3px;
}

.playIcon {
  width: 25px;
  height: 25px;
  margin: 1px;
  fill: #0fa37f;
}

.pauseIcon {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  fill: #0fa37f;
}

.controlIcon:hover {
  padding: 10px;
  fill: white;
}

.playIcon:hover {
  width: 25px;
  height: 25px;
  margin: 1px;
  fill: #45edc4;
}

.pauseIcon:hover {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  fill: #45edc4;
}

.clickableText {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
