@import '../../../global/globalCssVariables';

.imageContent-preview {
  box-shadow: rgb(0 0 0 / 30%) 0px 2px 3px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  object-fit: cover;

  img {
    padding: 0;
    width: 100%;
    object-fit: cover;
  }
}

.imageContent-wrapper {
  box-shadow: rgb(0 0 0 / 30%) 0px 2px 3px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  object-fit: cover;

  img {
    padding: 0;
    width: 100%;
    object-fit: cover;
  }
}
